<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Creación de orden correctiva</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/public/stylesheets/wizard.css">
    <script src="/public/javascripts/wizard.js"></script>

    <!-- Fontfaces CSS-->
    <link href="/p/font-face.css" rel="stylesheet" media="all">
    <link href="/p/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/p/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/p/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/p/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/p/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/p/wow/animate.css" rel="stylesheet" media="all">
    <link href="/p/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/p/slick/slick.css" rel="stylesheet" media="all">
    <link href="/p/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/p/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/p/theme.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="/public/stylesheets/dashboard.css">


</head>

<body class="animsition">
    <div class="page-wrapper">
        <% include ../layouts/header.ejs %>

        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body card-block">
                                    <div class="card-title">
                                        <h3 class="text-center title-5 m-b-35">Crear nueva orden</h3>
                                    </div>
                                    <hr>
                                    <form action="" method="post" class="form-horizontal row">
                                        <div class="col-6">
                                            <div class="row form-group">
                                                <div class="col col-md-2"><label for="a1">Motivo</label></div>
                                                <div class="col-12 col-md-10"><textarea name="" id="a1" class="form-control"></textarea></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-2"><label for="">Equipo</label></div>
                                                <div class="col-12 col-md-10"><input type="text" class="form-control"></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-2"><label for="">Ubicación</label></div>
                                                <div class="col-12 col-md-10"><input type="text" class="form-control"></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-2"><label for="">Ficha Técnica</label></div>
                                                <div class="col-12 col-md-10"><input type="file"></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-2"><label for="">Informe Técnico</label></div>
                                                <div class="col-12 col-md-10"><input type="file"></div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="row form-group">
                                                <div class="col col-md-2"><label for="">Confirmación de pago</label></div>
                                                <div class="col-12 col-md-10"><input type="file" name="" id=""></div>
                                            </div>
                                            <div class="row form-group">
                                                <pre><%= data %></pre>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- COPYRIGHT-->
            <section class="p-t-60 p-b-20 foot">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a
                                        href="https://colorlib.com">Colorlib</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END COPYRIGHT-->
        </div>

    </div>
</body>
<!-- Vendor JS       -->
<script src="/p/slick/slick.min.js"></script>
<script src="/p/wow/wow.min.js"></script>
<script src="/p/animsition/animsition.min.js"></script>
<script src="/p/bootstrap-progressbar/bootstrap-progressbar.min.js"> </script>
<script src="/p/counter-up/jquery.waypoints.min.js"></script>
<script src="/p/counter-up/jquery.counterup.min.js"> </script>
<script src="/p/circle-progress/circle-progress.min.js"></script>
<script src="/p/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/p/chartjs/Chart.bundle.min.js"></script>
<script src="/p/select2/select2.min.js"></script>
<script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
<script src="/repeater/jquery.repeater.min.js"></script>

<!-- Main JS-->
<script src="/p/main.js"></script>
<!-- adm2parkingsolutions@gmail.com -->